{% extends 'blog/base.html' %}
{% block content %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
          <small class="text-muted">{{ object.date_posted | date:"F d,Y" }}</small>
          {% if object.author == user %}
            <div>
              <a class="btn btn-secondary mt-1 mb-4" href="{% url 'post-update' object.id %}">Update</a>
              <a class="btn btn-danger mt-1 mb-4" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>

          {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>

        {% if user.is_authenticated %}
        <form action="{% url 'post-like' post.pk %}" method="POST">
          {% csrf_token %}
          <button type="submit" name="post_id", value="{{ post.id }}", class="btn btn-primary">Like {{ post.total_likes }} </button>
        </form>
        {% else %}
          <a class="btn btn-primary", href="{% url 'login' %}">Login & Like!</a>
        {% endif %}



        <h2>Comments</h2>
        {% if not object.comment.all %}
          Not yet comment <a href="{% url 'comment' post.pk %}">Add one</a>
        {% else %}
          {% for comment in object.comment.all %}
            <br/>
        <strong>{{ comment.name }} - {{ comment.date_added }}</strong> <br/>
        {{ comment.body }}
          {% endfor %}
        <br/>
          <a href="{% url 'comment' post.pk %}">New Comment</a>
        {% endif %}
      </div>
    </article>
{% endblock content %}